{% extends "dashboardbase.html" %}
{% load static %}

{% block extra_head %}
<title>Home Dashboard</title>
{% endblock %}

{% block dashboardArea %}

        <div class="bodyGrid">
            <div class="leftColumn">
                {% include 'components/Card.html' with title="Events" item=events%}

                <Card />
                <Card />
                <Card />
            </div>
            <div class="middleColumn">
                <Card />
                <Card />
                <Card />
            </div>
            <div class="rightColumn">
                <Card />
                <Card />
                <Card />
            </div>
        </div>

{% endblock %}