{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/animations.css' %}"> -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins&family=Montserrat&family=Oxygen&family=Nunito&family=Open+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/App.css' %}">

    {% block extra_head %}
    {% endblock %}

</head>

<body>
    <div class="mainGrid">
        <div class="menuArea" id="menuArea">
            <Menu />
        </div>
        <div class="topbarArea" id="topbarArea">
            <Navbar />
        </div>
        <div class="bodyArea" id="bodyArea">
            {% block dashboardArea %} {% endblock %}
            
        </div>
    </div>

</body>

</html>