{% extends "dashboardbase.html" %}
{% load static %}


{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/App.css' %}">
<title>Home Dashboard</title>
{% endblock %}

{% block dashboardArea %}

{% for club in users_clubs %}
Hello Club
{% endfor %}

<div class="sectionsContainer">
    <div class="objectContainer clubActivities">
        <div class="section_font_title">Your Clubs</div>

        {% if allClubs %}
        {% for club in allClubs %}
        {% include 'components/Card.html' with title=club.name type="club" item=club %}
        {% endfor %}
        {% endif %}

    </div>

    <div class="objectContainer clubList">
        <div class="section_font_title">All Clubs</div>

        {% for club in allClubs %}
            {% include 'components/Badge.html' with type="club" value=club.name%}
        {% endfor %}


        {% comment %} <div class="formComponent">
            <label>Title</label>
            <input type="text" name="" id="" />
            <label>Title</label>
            <input type="text" name="" id="" />
            <button>Submit</button>

        </div> {% endcomment %}
    </div>
</div>

{% endblock %}