{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/animations.css' %}"> -->
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins&family=Montserrat&family=Oxygen&family=Nunito&family=Open+Sans&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/App.css' %}">

  {% block extra_head %}
  {% endblock %}

</head>

<body>
  <div class="mainGrid">
    <div class="menuArea" id="menuArea">
      {% include 'components/Menu.html' %}
    </div>
    <div class="topbarArea" id="topbarArea">
      {% include 'components/Navbar.html' %}
    </div>
    <div class="bodyArea" id="bodyArea">

      {% block dashboardArea %} {% endblock %}

    </div>
  </div>


  <div class="modal" id="formModal">

      <form action="" method="POST" class="formComponent"  id="clubUpdateForm">
        {% csrf_token %}
        {{event_form}}
        <input type="hidden" name="form_type" value="club_event">
        {% comment %} <input type="text" placeholder="placeholder" class="paragraph_font"> {% endcomment %}

        <button class="paragraph_font background_purple_animated">Submit</button>
      </form>

      <form action="" method="POST" class="formComponent"  id="eventForm" enctype="multipart/form-data">
        {% csrf_token %}
        {{event_form}}
        <input type="hidden" name="form_type" value="club_event" >
        {% comment %} <input type="text" placeholder="placeholder" class="paragraph_font"> {% endcomment %}

        <button class="paragraph_font background_purple_animated">Submit</button>
      </form>

      <form action="" method="POST" class="formComponent" id="postForm" enctype="multipart/form-data">
        {% csrf_token %}
        {{post_form}}
        <input type="hidden" name="form_type" value="club_post">
        {% comment %} <input type="text" placeholder="placeholder" class="paragraph_font"> {% endcomment %}

        <button class="paragraph_font background_purple_animated">Submit</button>
      </form>
      
      <form action="" method="POST" class="formComponent" id="updateForm" enctype="multipart/form-data">
        {% csrf_token %}
        {{update_form}}
        <input type="hidden" name="form_type" value="club_update">
        {% comment %} <input type="text" placeholder="placeholder" class="paragraph_font"> {% endcomment %}

        <button class="paragraph_font background_purple_animated">Submit</button>
      </form>

      <form action="" method="POST" class="formComponent" id="profileForm" enctype="multipart/form-data">
        {% csrf_token %}
        <a href={% url 'logout' %} class="paragraph_font" style="color: white; position: absolute; top: 20px; right: 20px;">Logout</a>
        
        {{profile_form}}
        <input type="hidden" name="form_type" value="profile">
        {% comment %} <input type="text" placeholder="placeholder" class="paragraph_font"> {% endcomment %}

        <button class="paragraph_font background_purple_animated">Submit</button>
      </form>

      <form action="" method="POST" class="formComponent" id="clubForm" enctype="multipart/form-data">
        <a href={% url 'logout' %} class="paragraph_font" style="color: white; position: absolute; top: 20px; right: 20px;">Logout</a>
        {% csrf_token %}
        {{club_form}}
        <input type="hidden" name="form_type" value="club">
        {% comment %} <input type="text" placeholder="placeholder" class="paragraph_font"> {% endcomment %}

        <button class="paragraph_font background_purple_animated">Submit</button>
      </form>

      <form action="" method="POST" class="formComponent" id="clubrelationshipForm" enctype="multipart/form-data">
        <a href={% url 'logout' %} class="paragraph_font" style="color: white; position: absolute; top: 20px; right: 20px;">Logout</a>
        {% csrf_token %}
        {{clubprofilerelationship_form}}
        <input type="hidden" name="form_type" value="club_relationship">
        {% comment %} <input type="text" placeholder="placeholder" class="paragraph_font"> {% endcomment %}

        <button class="paragraph_font background_purple_animated">Submit</button>
      </form>
  </div>
</body>
<script src="{% static 'js/script.js' %}"></script>


{% block footer %}{% endblock %}

</html>