{% load static %}

<div class="menu">
    <div class="buttonsPanel">
        {% for notCurrentClub in usersClubs %}
            {% if notCurrentClub.name == club.name %}
                <button class="icon icon-1" id="currentClubIcon" onclick="showMenu()">
                    {{club.name}}
                    <img src="" alt="" />
                </button>
            {% else %}
                <button class="icon icon-2" onclick="window.location='{% url 'club' notCurrentClub.id %}';">
                    {{notCurrentClub.name}}
                </button>
            {% endif %}
        {% endfor %}
        

        <button class="icon icon-3" onclick="window.location='{% url 'home' %}';">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z" />
            </svg>
        </button>
    </div>
    <div class="menuPanel" id="Menu">
        <button class="menu-bucket menu-bucket-active">
            <img src="" alt="" class="bucket-icon" />
            <div class="title">Bucket Name</div>
            <img src="" alt="" class="action-symbol" />
        </button>
        <button class="menu-bucket menu-bucket-inactive">
            <img src="" alt="" class="bucket-icon" />
            <div class="title">Bucket Name</div>
            <img src="" alt="" class="action-symbol" />
        </button>
    </div>
</div>