{% load static %}

{% if style == "purpleborder" %}
<a href="#" class="update_border background_purple_animated">
{% else %}
<a href="#" class="update_border">
{% endif %}
    <div class="smallStrip">
        <div class="container">
            <div class="header">
                <div class="title">{{title}}</div>
                <div class="date-time">{{timestamp}}</div>
            </div>
            <div class="body paragraph_font_large">
                {{content}}
            </div>
        </div>
        <img src="https://source.unsplash.com/random" alt="" class="thumbnail" />
    </div>
</a>