{% load static %}

{% comment %} <a href="#" class="fullWidth"> {% endcomment %}
    <a class="largeStrip" href="/">
        {% comment %} {% include 'components/Badge.html' with type="info" title="Date" value=timestamp%} {% endcomment %}

        <div class="details">{{club.name}}</div>
        <div class="content ">
            <div class="container">
                <div class="topic">{{topic}}Hello</div>
                <div class="title">{{title}}</div>
                <div class="author">
                    <img src="" alt="">
                    <div>
                    {{author.name}}Hello Name</div>
                </div>
                <div class="body paragraph_font_large">
                    {{content}}
                </div>
                <div class="body paragraph_font_large">
                    {{longDescription}}
                </div>
            </div>
            <img src="" alt="" class="thumbnail" />
        </div>
    </a>
{% comment %} </a> {% endcomment %}