{% load static %}

{% comment %} <a href="#" class="fullWidth"> {% endcomment %}
    <div class="largeStrip" tabindex="1" href="/">
        {% comment %} {% include 'components/Badge.html' with type="info" title="Date" value=timestamp%} {% endcomment %}


       <img src="" alt="">
       {% comment %} include the badge here for date an time {% endcomment %}
       <div class="title title_font">title</div>
       <div class="caption paragraph_font_large">Caption CaptionCaptionCaptionCaptionCaptionCaptionCaptionCaptionCaptionCaption Caption</div>
       <div class="badge">
        {% include 'components/Badge.html' with type="info" title="September 4th, 2021" value="4:30pm" %}
        </div>
       <div class="content paragraph_font">
       Content</div>

        {% comment %} <div class="details">{{club.name}}</div>
        <div class="content ">
            <div class="container">
                <div class="topic">{{topic}}Hello</div>
                <div class="title">{{title}}</div>
                <div class="author">
                    <img src="" alt="">
                    <div>
                    {{author.name}}Hello Name</div>
                </div>
                <div class="body paragraph_font_large">
                    {{content}}
                </div>
                <div class="body paragraph_font_large">
                    {{longDescription}}
                </div>
            </div>
            <img src="" alt="" class="thumbnail" />
        </div> {% endcomment %}
    </div>
{% comment %} </a> {% endcomment %}