@import url("https://fonts.googleapis.com/css?family=Mulish:700,800|Lato:700|Poppins:700,500,600|Staatliches:400");
@font-face {
  font-family: Ticker;
  src: url("Subwayticker-3ZPz.otf");
}

*{

  box-sizing: border-box;
}

a {
  display: flex;
  text-decoration: none;
  color: inherit;
}

//Font classNamees
.paragraph_font{
  font: 12px Poppins;
  font-weight: 600;
  color: white;
}
.paragraph_font_large{
  font: 14px Poppins;
  font-weight: 600;
  color: white;
}

// Page Structure
.mainGrid { // The app grid
  position: relative;
  display: grid;
  grid-template-columns: 85px 1fr;
  grid-template-rows: 70px 1fr;
  background-color: #22252c;
  width: 100%;
  height: 100vh;

  .menuArea {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: -1;
    width: 100%;
    /* height: 100%; */
    background-color: rgb(170, 29, 88);
  }
  
  .topbarArea {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid #57595d 1px;
    background-color: rgb(86, 43, 126);
  
  }
  .bodyArea {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    background-color: rgb(68, 170, 54);
  
  }
}



.bodyGrid { // The apps inner card grid
  height: 120vh;
  // height: fit-content;
  width: 85%;
  display: grid;
  grid-template-columns: minmax(auto, 1fr) 1.5fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 30px;
  background-color: rgb(170, 77, 54);

  .leftColumn{
    background-color: red;
  }
  
  .middleColumn {
    background-color: orange;
  }
  
  .rightColumn {
    background-color: yellow;
  }
}

// Components
.genericCard {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: fit-content;
  margin-bottom: 10px;
  background-color: grey;

  > * {
    width: 100%;
  }

  > div:first-child {
    padding-left: 30px;
    font-family: Mulish;
    font-size: 20px;
    color: white;
    padding-bottom: 5px;
  }

  > div:nth-child(2) {
    width: 100%;
    min-height: 300px;
    padding: 20px;
    border-radius: 35px;
    background: linear-gradient(to bottom right, #34373e, #34373e);
    display: flex;
    flex-direction: column;
  }
}

.smallStrip{
  position: relative;
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  // height: fit-content;
  height: 75px;
  // min-height: 75px;
  // max-height: 100px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background: linear-gradient(to right, #57595d, #363940);
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 18px;
  overflow: hidden;

  .container {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-right: 3px;

    .header {
      display: flex;
      padding: 2px 5px;
      justify-content: space-between;

      .title, .date-time {
        font: 15px Staatliches;
        color: #b1b1b1 !important;
      }
    }

    .body {
      height: 60px;
      
      flex-grow: 1;
      border: solid black 1px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  > img {
    align-self: center;
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }
}

.largeStrip {
  display: flex;
  flex-direction: row;
  // width: 100%;
  flex-grow: 1;
  max-width: 500px;

  // &:hover > .strip-content {
  //   max-height: 400px;
  // }
  .content {
    position: relative;
    max-width: 500px;
    // width: 500px;
    min-height: 120px;
    // height: fit-content;
    // max-height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background: linear-gradient(to right, #57595d, #363940);
    padding: 15px;
    border-radius: 18px;
    margin-left: 10px;

    .container {
      height: 100%;
      // width: 100%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      margin-right: 10px;

      .title {
        font: 20px Staatliches;
        color: #b1b1b1 !important;
      }

      .body {
        max-height: 75px;
        overflow: hidden;
        flex-grow: 1;
        text-overflow: ellipsis;
      }

      .details {
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
        font: 20px Staatliches;
        color: #b1b1b1 !important;
      }
    }

    > img {
      align-self: center;
      width: 80px;
      height: 80px;
      border-radius: 10px;
    }
  }
}

.info-badge {
  position: relative;
  width: 100px;
  min-width: 100px;
  height: 100px;
  // display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  // background-color: pink;
  background: linear-gradient(to right, #57595d, #363940);
  > div {
    text-align: center;
    font-family: Poppins;
    // border: black solid 2px;
    padding: 0;
    color: white;
  }
  .title {
    font-size: 16px;
    font-weight: 700;
  }
  .value {
    font-size: 18px;
    font-weight: 600;
  }
}

.Navbar {
  width: 85px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  border-right: solid #57595d 1px;
}