@import url("https://fonts.googleapis.com/css?family=Mulish:700,800|Lato:700|Poppins:700,500,600|Staatliches:400");
@font-face {
  font-family: Ticker;
  src: url("Subwayticker-3ZPz.otf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: inherit;
}

.paragraph_font {
  font: 12px Poppins;
  font-weight: 600;
  color: white;
}

.paragraph_font_large {
  font: 14px Poppins;
  font-weight: 600;
  color: white;
}

.mainGrid {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 85px 1fr;
      grid-template-columns: 85px 1fr;
  -ms-grid-rows: 70px 1fr;
      grid-template-rows: 70px 1fr;
  background-color: #22252c;
  width: 100%;
  height: 100vh;
}

.mainGrid .menuArea {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: -1;
  width: 100%;
  /* height: 100%; */
  background-color: #aa1d58;
}

.mainGrid .topbarArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid #57595d 1px;
  background-color: #562b7e;
}

.mainGrid .bodyArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  background-color: #44aa36;
}

.bodyGrid {
  height: 120vh;
  width: 85%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 1fr) 1.5fr 1fr;
      grid-template-columns: minmax(auto, 1fr) 1.5fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 30px;
  background-color: #aa4d36;
}

.bodyGrid .leftColumn {
  background-color: red;
}

.bodyGrid .middleColumn {
  background-color: orange;
}

.bodyGrid .rightColumn {
  background-color: yellow;
}

.genericCard {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 10px;
  background-color: grey;
}

.genericCard > * {
  width: 100%;
}

.genericCard > div:first-child {
  padding-left: 30px;
  font-family: Mulish;
  font-size: 20px;
  color: white;
  padding-bottom: 5px;
}

.genericCard > div:nth-child(2) {
  width: 100%;
  min-height: 300px;
  padding: 20px;
  border-radius: 35px;
  background: -webkit-gradient(linear, left top, right bottom, from(#34373e), to(#34373e));
  background: linear-gradient(to bottom right, #34373e, #34373e);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.smallStrip {
  position: relative;
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: -webkit-gradient(linear, left top, right top, from(#57595d), to(#363940));
  background: linear-gradient(to right, #57595d, #363940);
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 18px;
  overflow: hidden;
}

.smallStrip .container {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  margin-right: 3px;
}

.smallStrip .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.smallStrip .container .header .title, .smallStrip .container .header .date-time {
  font: 15px Staatliches;
  color: #b1b1b1 !important;
}

.smallStrip .container .body {
  height: 60px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: solid black 1px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.smallStrip > img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.largeStrip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 500px;
}

.largeStrip .content {
  position: relative;
  max-width: 500px;
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: -webkit-gradient(linear, left top, right top, from(#57595d), to(#363940));
  background: linear-gradient(to right, #57595d, #363940);
  padding: 15px;
  border-radius: 18px;
  margin-left: 10px;
}

.largeStrip .content .container {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
}

.largeStrip .content .container .title {
  font: 20px Staatliches;
  color: #b1b1b1 !important;
}

.largeStrip .content .container .body {
  max-height: 75px;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-overflow: ellipsis;
}

.largeStrip .content .container .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  font: 20px Staatliches;
  color: #b1b1b1 !important;
}

.largeStrip .content > img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.info-badge {
  position: relative;
  width: 100px;
  min-width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#57595d), to(#363940));
  background: linear-gradient(to right, #57595d, #363940);
}

.info-badge > div {
  text-align: center;
  font-family: Poppins;
  padding: 0;
  color: white;
}

.info-badge .title {
  font-size: 16px;
  font-weight: 700;
}

.info-badge .value {
  font-size: 18px;
  font-weight: 600;
}

.Navbar {
  width: 85px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: solid #57595d 1px;
}
/*# sourceMappingURL=App.css.map */