@import url("https://fonts.googleapis.com/css?family=Mulish:700,800|Lato:700|Poppins:700,500,600|Staatliches:400");
@font-face {
  font-family: Ticker;
  src: url("Subwayticker-3ZPz.otf");
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: inherit;
}

.paragraph_font {
  font: 12px Poppins;
  font-weight: 600;
  color: white;
}

.paragraph_font_large {
  font: 14px Poppins;
  font-weight: 600;
  color: white;
}

.mainGrid {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 85px 1fr;
      grid-template-columns: 85px 1fr;
  -ms-grid-rows: 70px 1fr;
      grid-template-rows: 70px 1fr;
  background-color: #22252c;
  width: 100%;
  height: 100vh;
}

.mainGrid .menuArea {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: -1;
  width: 100%;
  /* height: 100%; */
  background-color: #aa1d58;
}

.mainGrid .topbarArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid #57595d 1px;
  background-color: #562b7e;
}

.mainGrid .bodyArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 40px;
  background-color: #44aa36;
}

.sectionsContainer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectionTitle {
  width: 100%;
  font-size: 20px;
}

.objectContainer {
  background: grey;
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.clubActivityCard {
  max-width: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 400px;
  background-color: grey;
  margin-right: 20px;
}

.clubBadgeCard {
  height: 200px;
  width: 200px;
  background: maroon;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

.clubBadgeCard > div {
  width: 100%;
}

.formComponent {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  background: #5a5a5a;
  border: solid black 2px;
  border-radius: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formComponent > * {
  margin-bottom: 10px;
}

.formComponent label {
  width: 100%;
  height: 25px;
}

.formComponent input {
  width: 100%;
  height: 25px;
  background: white;
}
/*# sourceMappingURL=App2.css.map */