{% extends "dashboardbase.html" %}
{% load static %}

{% block extra_head %}
<title>Home Dashboard</title>
{% endblock %}

{% block dashboardArea %}
<div class="mainGrid">
    <div class="menuArea" id="menuArea">
        <Menu />
    </div>
    <div class="topbarArea" id="topbarArea">
        <Navbar />
    </div>
    <div class="bodyArea" id="bodyArea">

        <div class="bodyGrid">
            <div class="leftColumn">
                <Card />
                <Card />
                <Card />
            </div>
            <div class="middleColumn">
                <Card />
                <Card />
                <Card />
            </div>
            <div class="rightColumn">
                <Card />
                <Card />
                <Card />
            </div>
        </div>

    </div>
</div>
{% endblock %}