{% extends "dashboardbase.html" %}
{% load static %}


{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/App.css' %}">
<title>Home Dashboard</title>
{% endblock %}

{% block dashboardArea %}

{% for club in users_clubs %}
Hello Club
{% endfor %}

<div class="sectionsContainer">
    <div class="sectionTitle">Your Clubs</div>
    <div class="objectContainer">
        <div class="clubActivityCard">
            <div>Club Name</div>
            <div>
                <StripSmall />
                <StripSmall />
            </div>
        </div>
        <div class="clubActivityCard">
            <div>Club Name</div>
            <div>
                <StripSmall />
                <StripSmall />
            </div>
        </div>
    </div>

    <div class="sectionTitle">All Clubs</div>
    <div class="objectContainer">
        <div class="clubBadgeCard">
            <div>Size</div>
            <div>Club Name</div>
            <div>Category</div>
        </div>
        <div class="clubBadgeCard">
            <div>Size</div>
            <div>Club Name</div>
            <div>Category</div>
        </div>
        <div class="clubBadgeCard">
            <div>Size</div>
            <div>Club Name</div>
            <div>Category</div>
        </div>

        <div class="formComponent">
            <label>Title</label>
            <input type="text" name="" id="" />
            <label>Title</label>
            <input type="text" name="" id="" />
            <button>Submit</button>

        </div>
    </div>
</div>

{% endblock %}