@import url("https://fonts.googleapis.com/css?family=Mulish:700,800|Lato:700|Poppins:700,500,600|Staatliches:400");
@font-face {
  font-family: Ticker;
  src: url("Subwayticker-3ZPz.otf");
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: inherit;
}

.paragraph_font {
  font: 12px Poppins;
  font-weight: 600;
  color: white;
}

.paragraph_font_large {
  font: 14px Poppins;
  font-weight: 600;
  color: white;
}

.mainGrid {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 85px 1fr;
      grid-template-columns: 85px 1fr;
  -ms-grid-rows: 70px 1fr;
      grid-template-rows: 70px 1fr;
  background-color: #22252c;
  width: 100%;
  height: 100vh;
}

.mainGrid .menuArea {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: -1;
  width: 100%;
  /* height: 100%; */
  background-color: #aa1d58;
}

.mainGrid .topbarArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid #57595d 1px;
  background-color: #562b7e;
}

.mainGrid .bodyArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  background-color: #44aa36;
}

.bodyGrid {
  height: 120vh;
  width: 85%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 1fr) 1.5fr 1fr;
      grid-template-columns: minmax(auto, 1fr) 1.5fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 30px;
}

.bodyGrid .leftColumn {
  background-color: red;
}

.bodyGrid .middleColumn {
  background-color: orange;
}

.bodyGrid .rightColumn {
  background-color: yellow;
}

.genericCard {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 10px;
  background-color: grey;
}

.genericCard > * {
  width: 100%;
}

.genericCard > div:first-child {
  padding-left: 30px;
  font-family: Mulish;
  font-size: 20px;
  color: white;
  padding-bottom: 5px;
}

.genericCard > div:nth-child(2) {
  width: 100%;
  min-height: 300px;
  padding: 20px;
  border-radius: 35px;
  background: -webkit-gradient(linear, left top, right bottom, from(#34373e), to(#34373e));
  background: linear-gradient(to bottom right, #34373e, #34373e);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.smallStrip {
  position: relative;
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: -webkit-gradient(linear, left top, right top, from(#57595d), to(#363940));
  background: linear-gradient(to right, #57595d, #363940);
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 18px;
  overflow: hidden;
}

.smallStrip .container {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  margin-right: 3px;
}

.smallStrip .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.smallStrip .container .header .title, .smallStrip .container .header .date-time {
  font: 15px Staatliches;
  color: #b1b1b1 !important;
}

.smallStrip .container .body {
  height: 60px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: solid black 1px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.smallStrip > img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.largeStrip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 10px;
}

.largeStrip .content {
  position: relative;
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: -webkit-gradient(linear, left top, right top, from(#57595d), to(#363940));
  background: linear-gradient(to right, #57595d, #363940);
  padding: 15px;
  border-radius: 18px;
  margin-left: 10px;
}

.largeStrip .content .container {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
}

.largeStrip .content .container .title {
  font: 20px Staatliches;
  color: #b1b1b1 !important;
}

.largeStrip .content .container .body {
  max-height: 75px;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-overflow: ellipsis;
}

.largeStrip .content .container .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  font: 20px Staatliches;
  color: #b1b1b1 !important;
}

.largeStrip .content > img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.info-badge {
  position: relative;
  width: 100px;
  min-width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#57595d), to(#363940));
  background: linear-gradient(to right, #57595d, #363940);
}

.info-badge > div {
  text-align: center;
  font-family: Poppins;
  padding: 0;
  color: white;
}

.info-badge .title {
  font-size: 16px;
  font-weight: 700;
}

.info-badge .value {
  font-size: 18px;
  font-weight: 600;
}

.club-badge {
  position: relative;
  width: 200px;
  min-width: 100px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  padding: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#57595d), to(#363940));
  background: linear-gradient(to right, #57595d, #363940);
}

.club-badge > div {
  text-align: center;
  font-family: Poppins;
  padding: 0;
  color: white;
}

.club-badge .title {
  font-size: 16px;
  font-weight: 700;
}

.club-badge .value {
  font-size: 18px;
  font-weight: 600;
}

.icon {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: none;
  margin-bottom: 10px;
  cursor: default;
}

.icon.icon-1 {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff0000), to(#e5215c));
  background: linear-gradient(to bottom right, #ff0000, #e5215c);
}

.icon.icon-1:hover {
  -webkit-box-shadow: #ff0000 0 0 7px;
          box-shadow: #ff0000 0 0 7px;
}

.icon.icon-2 {
  background: -webkit-gradient(linear, left top, right bottom, from(#34373e), to(#34373e));
  background: linear-gradient(to bottom right, #34373e, #34373e);
}

.icon.icon-2:hover {
  -webkit-box-shadow: #34373e 0 0 7px;
          box-shadow: #34373e 0 0 7px;
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar > div {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.navbar > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar > div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30px;
}

.menu {
  width: 85px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.buttonsPanel {
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: solid #57595d 1px;
}

.menuPanel {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 84px;
  width: 350px;
  height: 100vh;
  background: -webkit-gradient(linear, right top, left top, from(#5158686c), to(#22252c));
  background: linear-gradient(to left, #5158686c, #22252c);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  padding: 10px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: scroll;
  border-radius: 20px;
}

.menuPanel .menu-bucket {
  width: 100%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: -webkit-gradient(linear, left top, right bottom, from(#34373e), to(#34373e));
  background: linear-gradient(to bottom right, #34373e, #34373e);
  margin-bottom: 10px;
}

.menuPanel .menu-bucket.menu-bucket-active {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff0000), to(#e5215c));
  background: linear-gradient(to bottom right, #ff0000, #e5215c);
}

.menuPanel .menu-bucket.menu-bucket-active:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff3535), to(#ff004c));
  background: linear-gradient(to bottom right, #ff3535, #ff004c);
}

.menuPanel .menu-bucket.menu-bucket-inactive {
  background: -webkit-gradient(linear, left top, right bottom, from(#34373e), to(#34373e));
  background: linear-gradient(to bottom right, #34373e, #34373e);
}

.menuPanel .menu-bucket.menu-bucket-inactive:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#3e4149), to(#3e424b));
  background: linear-gradient(to bottom right, #3e4149, #3e424b);
}

.menuPanel .menu-bucket:focus {
  border: white 2px solid;
}

.menuPanel .menu-bucket .bucket-icon,
.menuPanel .menu-bucket .action-symbol {
  width: 30px;
  height: 30px;
}

.menuPanel .menu-bucket .action-symbol {
  position: absolute;
  right: 10px;
}

.menuPanel .menu-bucket .title {
  padding-left: 10px;
  font-family: Poppins;
  font-size: 15px;
  color: white;
}

.profileTab {
  width: 250px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.123);
  border: none;
  outline: none;
  text-decoration: none;
}

.profileTab img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
}

.profileTab .body {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
  margin-left: 10px;
}

.profileTab .body .name {
  height: 25px;
  width: 150px;
  display: inline-block;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  vertical-align: bottom;
  text-align: left;
}

.profileTab .body svg {
  -ms-flex-item-align: right;
      -ms-grid-row-align: right;
      align-self: right;
  width: 25px;
  height: 25px;
}

.profileTab .body #position {
  width: 100%;
  height: 15px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  vertical-align: top;
  text-align: left;
}

.sectionsContainer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectionTitle {
  width: 100%;
  font-size: 20px;
}

.objectContainer {
  background: grey;
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.clubActivityCard {
  max-width: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 400px;
  background-color: grey;
  margin-right: 20px;
}

.clubBadgeCard {
  height: 200px;
  width: 200px;
  background: maroon;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

.clubBadgeCard > div {
  width: 100%;
}

.formComponent {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  background: #5a5a5a;
  border: solid black 2px;
  border-radius: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formComponent > * {
  margin-bottom: 10px;
}

.formComponent label {
  width: 100%;
  height: 25px;
}

.formComponent input {
  width: 100%;
  height: 25px;
  background: white;
}
/*# sourceMappingURL=App.css.map */