@import url("https://fonts.googleapis.com/css?family=Mulish:700,800|Lato:700|Poppins:700,500,600|Staatliches:400");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&family=Rubik&display=swap");
@font-face {
  font-family: Ticker;
  src: url("Subwayticker-3ZPz.otf");
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: inherit;
}

iframe {
  border-radius: 20px;
}

.background_purple_animated {
  background: -webkit-gradient(linear, left top, right bottom, from(#00b7ee), to(#ae00ff));
  background: linear-gradient(to bottom right, #00b7ee, #ae00ff);
  padding: 3px;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  margin: 30px 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0865f0;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #760094;
}

.paragraph_font {
  font: 12px Poppins;
  font-weight: 300;
  color: white;
}

.paragraph_font_large {
  font: 12px Poppins;
  font-weight: 600;
  color: white;
}

.title_font {
  font-size: 15px;
  font-family: 'Staatliches';
  letter-spacing: 0.5px;
  font-weight: 700;
  color: #B1B1B1;
}

.card_font_large {
  min-height: 10px;
  padding-left: 15px;
  font-family: Mulish;
  font-size: 20px;
  color: white;
  padding-bottom: 5px;
}

.mainGrid {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px 1fr;
      grid-template-columns: 70px 1fr;
  -ms-grid-rows: 70px 1fr;
      grid-template-rows: 70px 1fr;
  background-color: #22252c;
  min-width: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.mainGrid .menuArea {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: -1;
  width: 100%;
  /* height: 100%; */
}

.mainGrid .topbarArea {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid #57595d 1px;
}

.mainGrid .bodyArea {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 40px;
}

.bodyGrid {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 1600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 2fr) 4fr minmax(auto, 2fr);
      grid-template-columns: minmax(auto, 2fr) 4fr minmax(auto, 2fr);
  -ms-grid-rows: 1fr "toprow" 1fr 1fr;
      grid-template-rows: 1fr "toprow" 1fr 1fr;
  grid-gap: 30px;
      grid-template-areas: "topRow topRow topRow" "leftColumn middleColumn rightColumn";
}

.bodyGrid .topRow {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: topRow;
}

.bodyGrid .bottomColumn {
  height: 20vh;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.listViewGrid {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: minmax(fit-content, 70vh) 1fr;
      grid-template-rows: minmax(-webkit-fit-content, 70vh) 1fr;
      grid-template-rows: minmax(fit-content, 70vh) 1fr;
  grid-gap: 30px;
}

.listViewGrid > div {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.genericCard {
  position: relative;
  width: 100%;
  min-width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 30px;
}

.genericCard > * {
  position: relative;
  width: 100%;
}

.genericCard > div:first-child {
  padding-bottom: 5px;
  grid-auto-columns: minmax(-webkit-fit-content, 200px);
  grid-auto-columns: minmax(fit-content, 200px);
}

.genericCard > div:nth-child(2) {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 40vh;
  max-height: 50vh;
  padding: 12px;
  border-radius: 35px;
  background: -webkit-gradient(linear, left top, right bottom, from(#34373e), to(#34373e));
  background: linear-gradient(to bottom right, #34373e, #34373e);
  overflow: auto;
}

.genericCard > div:nth-child(2).listView {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.activityCard {
  position: relative;
  width: 100%;
  min-width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.activityCard > * {
  position: relative;
  width: 100%;
}

.activityCard > div:nth-child(2) {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 50px;
  padding: 4px;
  border-radius: 35px;
  background: -webkit-gradient(linear, left top, right bottom, from(#34373e), to(#34373e));
  background: linear-gradient(to bottom right, #34373e, #34373e);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: auto;
}

.activityCard > div:nth-child(2).listView {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.smallStrip {
  position: relative;
  width: 100%;
  height: 75px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: -webkit-gradient(linear, left top, right top, from(#57595d), to(#363940));
  background: linear-gradient(to right, #57595d, #363940);
  padding: 8px 10px;
  border-radius: 18px;
  overflow: hidden;
}

.smallStrip .container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  margin-right: 3px;
}

.smallStrip .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.smallStrip .container .body {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.smallStrip > img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 60px;
  height: auto;
  max-width: 60px;
  min-width: 60px;
  max-height: 60px;
  min-height: 60px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: black;
}

.update_border {
  padding: 3px;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.fullWidth {
  width: 100%;
}

.largeStrip {
  min-height: 100px;
  max-height: 300px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
  -ms-grid-rows: minmax(100px, fit-content) 1fr 1fr fit-content;
      grid-template-rows: minmax(100px, -webkit-fit-content) 1fr 1fr -webkit-fit-content;
      grid-template-rows: minmax(100px, fit-content) 1fr 1fr fit-content;
      grid-template-areas: "a d" "b b" "c c" "e e";
  grid-gap: 3px;
  border-radius: 15px;
  padding: 10px 10px;
  background: -webkit-gradient(linear, left top, right top, from(#57595d), to(#363940));
  background: linear-gradient(to right, #57595d, #363940);
  overflow: auto;
  margin-bottom: 20px;
}

.largeStrip:hover {
  cursor: pointer;
}

.largeStrip:focus {
  z-index: 100;
}

.largeStrip:focus img {
  height: 100px;
}

.largeStrip:focus .content {
  display: block;
}

.largeStrip img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  height: 100px;
  background: black;
  border-radius: 8px;
}

.largeStrip .title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: b;
}

.largeStrip .caption {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: c;
}

.largeStrip .badge {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.largeStrip .content {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: e;
  display: none;
}

.cardGrid {
  width: 100%;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-auto-rows: 150px;
  grid-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.info-badge {
  position: relative;
  width: 130px;
  min-width: 100px;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#57595d), to(#363940));
  background: linear-gradient(to right, #57595d, #363940);
  overflow: hidden;
  padding: 15px;
}

.info-badge > div {
  text-align: center;
  font-family: Poppins;
  padding: 0;
  color: white;
}

.info-badge .title {
  font-size: 16px;
  font-weight: 700;
}

.info-badge .value {
  font-size: 18px;
  font-weight: 600;
}

.list-badge {
  position: relative;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#57595d), to(#363940));
  background: linear-gradient(to right, #57595d, #363940);
  padding: 50px 15px 15px 15px;
  margin: 20px;
  overflow: auto;
}

.list-badge > div {
  text-align: center;
  font-family: Poppins;
  padding: 0;
  color: white;
  background: -webkit-linear-gradient(0deg, #08F0E2, #FFA6F6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.list-badge .title {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 16px;
  font-weight: 700;
}

.list-badge .date {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 16px;
  font-weight: 700;
}

.list-badge .content {
  width: 100%;
  font: 12px Poppins;
}

.list-badge img {
  width: 200px;
  height: 200px;
  background: black;
  border: solid black 1px;
}

.club-badge {
  position: relative;
  width: 180px;
  min-width: 100px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  padding: 4px;
  margin: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#57595d), to(#363940));
  background: linear-gradient(to right, #57595d, #363940);
}

.club-badge > div {
  text-align: center;
  font-family: Poppins;
  padding: 0;
  color: white;
}

.club-badge .title {
  font-size: 16px;
  font-weight: 700;
}

.club-badge .value {
  font-size: 18px;
  font-weight: 600;
}

.icon {
  position: relative;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: none;
  margin-bottom: 10px;
  cursor: default;
  overflow: hidden;
}

.icon img {
  width: 100%;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
}

.icon.icon-1 {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff0000), to(#e5215c));
  background: linear-gradient(to bottom right, #ff0000, #e5215c);
  border: solid #ffffff 4px;
}

.icon.icon-2 {
  background: linear-gradient(145deg, #323740, #2a2e36);
  -webkit-box-shadow: 4px 4px 10px #191c20, -4px -4px 10px #454a58;
          box-shadow: 4px 4px 10px #191c20, -4px -4px 10px #454a58;
  color: white;
}

.icon.icon-3 {
  background: -webkit-gradient(linear, left top, right bottom, from(#34373e), to(#34373e));
  background: linear-gradient(to bottom right, #34373e, #34373e);
}

.icon.icon-3:hover {
  -webkit-box-shadow: #34373e 0 0 7px;
          box-shadow: #34373e 0 0 7px;
}

.navbar {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar > div {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar > div:nth-child(1) #pageTitle {
  background: -webkit-linear-gradient(0deg, #08F0E2, #FFA6F6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar > div:nth-child(1) #pageTitle:hover {
  cursor: pointer;
}

.navbar > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar > div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30px;
}

.searchBar {
  width: 40vw;
  height: 40px;
  max-height: 100%;
  background: #363940;
  border-radius: 10px;
  padding: 0 20px;
  outline: none;
  border: none;
  font-family: "Lato";
  font-size: 17px;
  color: #D0D0D0;
}

.searchBar:focus {
  color: white;
  background: #3f434b;
}

.menu {
  width: 70px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #22252c;
}

.buttonsPanel {
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: solid #57595d 1px;
}

.menuPanel {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 70px;
  width: 350px;
  height: 100vh;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 10px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
  border-radius: 20px;
}

.menuPanel .menu-bucket {
  width: 100%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: -webkit-gradient(linear, left top, right bottom, from(#34373e), to(#34373e));
  background: linear-gradient(to bottom right, #34373e, #34373e);
  margin-bottom: 10px;
}

.menuPanel .menu-bucket.menu-bucket-active {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff0000), to(#e5215c));
  background: linear-gradient(to bottom right, #ff0000, #e5215c);
}

.menuPanel .menu-bucket.menu-bucket-active:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff3535), to(#ff004c));
  background: linear-gradient(to bottom right, #ff3535, #ff004c);
}

.menuPanel .menu-bucket.menu-bucket-inactive {
  background: -webkit-gradient(linear, left top, right bottom, from(#34373e), to(#34373e));
  background: linear-gradient(to bottom right, #34373e, #34373e);
}

.menuPanel .menu-bucket.menu-bucket-inactive:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#3e4149), to(#3e424b));
  background: linear-gradient(to bottom right, #3e4149, #3e424b);
}

.menuPanel .menu-bucket:focus {
  border: white 2px solid;
}

.menuPanel .menu-bucket .bucket-icon,
.menuPanel .menu-bucket .action-symbol {
  width: 30px;
  height: 30px;
}

.menuPanel .menu-bucket .action-symbol {
  position: absolute;
  right: 10px;
}

.menuPanel .menu-bucket .title {
  padding-left: 10px;
  font-family: Poppins;
  font-size: 15px;
  color: white;
}

.profileTab {
  position: relative;
  width: 200px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
}

.profileTab:hover {
  cursor: pointer;
}

.profileTab img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profileTab .body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 0 10px;
  margin-left: 10px;
}

.profileTab .body .name {
  display: inline-block;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  vertical-align: bottom;
  text-align: left;
}

.profileTab .body svg {
  -ms-flex-item-align: right;
      -ms-grid-row-align: right;
      align-self: right;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  top: 15px;
}

.profileTab .body #position {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  vertical-align: top;
  text-align: left;
}

.sectionsContainer {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [firstcolumn] 1fr [secondcolumn] 1fr;
      grid-template-columns: [firstcolumn] 1fr [secondcolumn] 1fr;
  grid-gap: 40px;
  width: 90%;
  max-width: 1500px;
}

.section_font_title {
  width: 100%;
  min-height: 10px;
  font-family: Mulish;
  font-weight: 100;
  font-size: 30px;
  color: white;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.objectContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.objectContainer.clubActivities {
  grid-auto-flow: column;
}

.objectContainer.clubList {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  top: 20px;
  position: -webkit-sticky;
  position: sticky;
}

.clubActivityCard {
  max-width: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 400px;
  background-color: grey;
  margin-right: 20px;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100vh;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal .formComponent {
  position: fixed;
  top: 20%;
  left: 50%;
  min-width: 500px;
  width: 40vw;
  height: 600px;
  margin-left: -20vw;
  overflow: auto;
  display: none;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  background: -webkit-gradient(linear, left top, right bottom, from(#34373e), to(#34373e));
  background: linear-gradient(to bottom right, #34373e, #34373e);
  border-radius: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.modal .formComponent > * {
  margin-bottom: 10px;
}

.modal .formComponent label {
  width: 100%;
  height: 25px;
}

.modal .formComponent input,
.modal .formComponent select,
.modal .formComponent textarea {
  width: 100%;
  border: solid #0865f0;
  border-radius: 10px;
  background: none;
  color: #dbdbdb;
  outline: none;
  padding: 10px;
  font: 13px Poppins;
  font-weight: 400;
  color: white;
}

.modal .formComponent input:focus,
.modal .formComponent select:focus,
.modal .formComponent textarea:focus {
  border: solid #3d85f0;
  outline: none;
}

.modal .formComponent textarea {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 200px;
}

button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #0047e0;
  background: -webkit-gradient(linear, left top, right bottom, from(#00b7ee), to(#ae00ff));
  background: linear-gradient(to bottom right, #00b7ee, #ae00ff);
  border: none;
  border-radius: 15px;
  outline: none;
  padding: 10px;
  color: white;
}

button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#0097ee), to(#8500c3));
  background: linear-gradient(to right, #0097ee, #8500c3);
}

button.formButton {
  position: absolute;
  right: 20px;
  top: 5px;
  z-index: 1;
}

table {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 3px solid color;
}

table tr,
table th,
table td {
  font: 14px Poppins;
  font-weight: 500;
  color: white;
}

table th {
  border-bottom: solid white 3px;
}

table tr {
  font-weight: 700;
}
/*# sourceMappingURL=App.css.map */