{% load static %}

<a href="#">
    <div class="largeStrip">
        <Badge />
        <div class="content">
            <div class="container">
                <div class="title">Title</div>
                <div class="body paragraph_font_large">
                    Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Cumque quo excepturi
                </div>
                <div class="details">Location Hybrid Meeting RSVPS</div>
            </div>
            <img src="" alt="" class="thumbnail" />
        </div>
    </div>
</a>