{% load static %}

<a href="#">
    <div class="smallStrip">
        <div class="container">
            <div class="header">
                <div class="title">Title</div>
                <div class="date-time">Date Time</div>
            </div>
            <div class="body paragraph_font">
                Lorem ipsum dolor, sit amet consectetur adipisicing
                elit. Lorem ipsum dolor, sit amet consectetur adipisicing
                elit. Lorem ipsum dolor, sit amet consectetur adipisicing
                elit. Lorem ipsum dolor, sit amet consectetur adipisicing
                elit.
            </div>
        </div>
        <img src="" alt="" class="thumbnail" />
    </div>
</a>